.tradingview-widget-copyright {
    display: none !important;
}

.react-responsive-modal-modal {
    padding: 0px !important;
    background: #1d1d22 !important;
}

::-webkit-scrollbar {
    width: 0px;
}

.token-left::-webkit-scrollbar {
    width: 0px;
}

.token-right::-webkit-scrollbar {
    width: 9px;
}

.token-right::-webkit-scrollbar-track {
    background-color: #28282d;
}

.token-right::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 8px;
}

.token-info::-webkit-scrollbar {
    width: 9px;
}

.token-info::-webkit-scrollbar-track {
    background-color: #28282d;
}

.token-info::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 8px;
}

// .token-left::-webkit-scrollbar-thumb:hover {
//     /* Adjust hover styles */
//     background-color: blue;
// }


.tokens-table-wrapper::-webkit-scrollbar {
    width: 15px;
}

.tokens-table-wrapper::-webkit-scrollbar-track {
    background-color: #28282d;
}

.tokens-table-wrapper::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
}

body {
    background-color: black;
}

.create-coin {
    background-color: black;
    background-image: url('/images/bg/create-token-bg.svg');
}


//  react-select

.filter-section {
    .css-13cymwt-control {
        background-color: transparent !important;
        border: 2px solid #4b4b50 !important;
        height: 42px !important;
    }

    .css-t3ipsp-control {
        border: 2px solid #4b4b50 !important;
        box-shadow: none !important;
        height: 42px !important;
        background-color: transparent !important;
    }

    .css-1u9des2-indicatorSeparator {
        background-color: #6e767d !important;
    }

    .css-1xc3v61-indicatorContainer {
        color: #6e767d !important;
    }

    .css-1dimb5e-singleValue {
        color: white !important;
    }

    .css-15lsz6c-indicatorContainer:hover {
        color: #6e767d !important;
    }

    .css-1nmdiq5-menu {
        color: white !important;
        background-color: #292525 !important;
    }

    .css-tr4s17-option {
        background-color: #475dc0 !important;
    }

    .css-d7l1ni-option {
        color: black !important;
        background-color: rgb(243 244 246) !important;
    }

    .css-art2ul-ValueContainer2 {
        padding: 2px 16px !important;
    }
}





.wallet-menu {
    background-color: #212225 !important;
    border-radius: 8px !important;
    border: 1px solid #38393b !important;
}

.szh-menu__divider {
    background-color: #38393b !important;
}

.szh-menu__item {
    padding: 0.4rem 1.1rem !important;
}

.menu-item1{
    color:#9b9c9d !important;
    letter-spacing: 0.5px !important;
    font-family: $primaryfont !important;
    font-weight: 400 !important;
    background-color: #212225 !important;
}
.menu-item1-hover{
    color:#9b9c9d !important;
    letter-spacing: 0.5px !important;
    font-family: $primaryfont !important;
    font-weight: 400 !important;
    background-color: #212225 !important;
}
.menu-item2 {
    color: #ff886d !important;
    letter-spacing: 0.5px !important;
    font-family: $primaryfont !important;
    font-weight: 400 !important;
    background-color: #212225 !important;
}

.menu-item2-hover {
    color: #ff886d !important;
    letter-spacing: 0.5px !important;
    font-family: $primaryfont !important;
    font-weight: 400 !important;
    background-color: #212225 !important;
}