.gradient-1{
    background: radial-gradient(100% 110% at 50% 0%, rgb(32, 47, 39) 10%, rgb(0, 0, 0) 90%);
}
.gradient-2{
    background: radial-gradient(100% 110% at 50% 0%, rgb(10, 12, 11) 10%, rgb(0, 0, 0) 90%);
}
.shadow-1{
    box-shadow:0px 2px 13px 7px rgba(0, 0, 0, 0.3) ;
}